.cache/
.venv/
artifacts/
data/
third_party/
tools/
__pycache__/
Ultralytics/
/sam_b.pt

dataset/videos_cropped/*_pool.mp4
!dataset/videos_cropped/*_undistorted_pool.mp4

models/rtdetr_r18vd_coco_o365/.cache/

vendor/FastSAM/**/__pycache__/
vendor/FastSAM/**/.pytest_cache/
